{% extends 'base.html.twig' %}

{% block body %}
<div class="container-lg">
	<div class="d-flex flex-column gap-4">
		<div>
			{% for i in images %} <img src="{{ i }}">{% endfor %}
		</div>
	</div>
	<div>Всего изображений: {{ sum }}</div>
<div>
{% endblock %}